<div class="container-flud">
  <div class="row">
    <div class="black col  ">
        <img src="https://img.freepik.com/foto-gratis/hombre-guapo-caucasico-aislado-pared-beige-dando-gesto-pulgares-arriba_1368-92335.jpg?size=626&ext=jpg" class="rounded mx-auto d-block" alt="...">
        <h2>Nombre</h2>
        <h3>Email</h3>
        <h3>password</h3>
        <button type="button"  routerLink="login" class="btn btn-danger">SALIR</button>
    </div>
    
    <div class="red col-9 ">
        <ul class="list-group ">
            <li class="list-group-item"><div class="card" style="max-width: 18rem;">
                <div class="card-header">Nombre usuario</div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div></li>
            <li class="list-group-item"><div class="card" style="max-width: 18rem;">
                <div class="card-header">Nombre usuario</div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div></li>
            <li class="list-group-item"><div class="card" style="max-width: 18rem;">
                <div class="card-header">Nombre usuario</div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div></li>
            <li class="list-group-item"><div class="card" style="max-width: 18rem;">
                <div class="card-header">Nombre usuario</div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div></li>
            <li class="list-group-item"><div class="card" style="max-width: 18rem;">
                <div class="card-header">Nombre usuario</div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div></li>
          </ul>
    </div>
  </div>
</div>
