<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/">Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="login" >Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="post">Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="userinfo">User-Info</a>
      </li>
  </ul>