<div class="container-fluid">

<div class="row">

<div class="card bg-light col-lg-6 col-md-6 col-sm-6 col-xs-6 columna-izq text-center" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Light card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>


  <!-- Añadir texto  -->

  <div class="card col-lg-6 col-md-6 col-sm-6 col-xs-6 green columna-der" style="width: 18rem;">
    <div class="card-body">
      
      <h5 class="card-title">Nom. Usuario</h5>
      
      <div class="input-group">
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>

      <a href="#" class="btn btn-primary">POSTEAR</a>

    </div>
  </div>



</div>